/*header*/
header {
  background-color: var(--spotify-black);
  color: var(--spotify-gray);
  padding: 15px 20px;
  text-align: center;
}

/*footer*/
footer {
  background-color: var(--spotify-black);
  color: var(--spotify-gray);
  padding: 15px 20px;
  text-align: center;
}
